{block content}
<p>Prave jsem zapnul react, jede na portu <a href="http://localhost:1337" target="_blank">1337</a> a je to takovy counter pristupu.</p>
<p>Zatim to nejde vypnout a ani to nepise na vystup. ;-)</p>
<a n:href="Homepage:default">Zpatky</a>